// your style goes here
// 覆盖字体路径变量，以防止编译出错
// 1.0.0-rc.1 有点小问题，需要手动删掉
//    node_modules/amazeui-touch/scss/amazeui.touch.scss 中的 `$ratchicons-path: 'fonts/';` 这一行
// @see https://github.com/jtangelder/sass-loader#problems-with-url
$ratchicons-path: "../../node_modules/amazeui-touch/fonts/";
@import "~amazeui-touch/scss/amazeui.touch.scss";

/* Container `fade` 动画示例 */

.view-transition-fade-enter {
    opacity: 0.01;
}

.view-transition-fade-enter.view-transition-fade-enter-active {
    opacity: 1;
    transition: opacity 450ms ease-in;
}

.view-transition-fade-leave {
    opacity: 1;
}

.view-transition-fade-leave.view-transition-fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


/**-- 自定义的样式在下面 --**/

.root {
    background-color: #ffffff;
}

.tabbar {
    background-color: #ffffff;
    height: 3.5625rem;
    padding: 0 1rem;
    padding-top: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-left: 0rem;
}

.tabbar > .active,
.tabbar > .active a {
    color: #ff5f7a;
}

.splash {
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

// 主container的样式
#main-cnt {
    background-color: #fafafa;
}

// 导航栏
.main-tabbar {
    background-color: #ffffff;
}

.main-search-cnt {
    text-align: center;
}

// 输入框样式
input {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
    outline-color: #c3c3c3;
}

input.main-search.field {
    color: #d9d9d9;
    margin-bottom: 5px;
}

// 搜索框提示文字
p.search-label {
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    color: #c3c3c3;
}

p.search-label span {
    color: #696969;
}

.main-grid {
    padding-left: 15px;
    padding-right: 15px;
}

.detail-search.field {
    color: #d9d9d9;
    border-right-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.cancle-btn {
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.clear-btn {
    background-color: #ffffff;
}

p.cancle-btn-label {
    color: #d9d9d9;
    font-family: $body-font-family;
    // font-weight: $body-font-weight;
    font-style: $body-font-style;
    font-size: 16px;
    margin-top: 0px;
    border-right-width: 0px;
}

.search-form {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ff5f7a;
}

.search-form.g.g-collapse.g-bordered {
    border-width: 2px 2px;
}
