// your style goes here
// 覆盖字体路径变量，以防止编译出错
// 1.0.0-rc.1 有点小问题，需要手动删掉
//    node_modules/amazeui-touch/scss/amazeui.touch.scss 中的 `$ratchicons-path: 'fonts/';` 这一行
// @see https://github.com/jtangelder/sass-loader#problems-with-url
$ratchicons-path: "../../node_modules/amazeui-touch/fonts/";
@import "~amazeui-touch/scss/amazeui.touch.scss";

/* Container `fade` 动画示例 */

.view-transition-fade-enter {
    opacity: 0.01;
}

.view-transition-fade-enter.view-transition-fade-enter-active {
    opacity: 1;
    transition: opacity 450ms ease-in;
}

.view-transition-fade-leave {
    opacity: 1;
}

.view-transition-fade-leave.view-transition-fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


/**-- 自定义的样式在下面 --**/

// 选择框的字体
select.field {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
}

// 输入框样式
input {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
}

// 段落的文字样式
p {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
}

// 设置默认文字的颜色
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #d9d9d9; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #d9d9d9; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #d9d9d9; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #d9d9d9; 
} 

.root {
    background-color: #ffffff;
}

.tabbar {
    background-color: #ffffff;
    // height: 3.5625rem;
    height: 4rem;
    padding: 0 1rem;
    padding-top: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-left: 0rem;
}

.icon ~ .tabbar-label {
    font-size: 0.825rem;
}

span.tabbar-label {
    font-size: 16px;
}

.tabbar > .active,
.tabbar > .active a {
    color: #ff5f7a;
}

// 主container的样式
#main-cnt {
    background-color: #fafafa;
}

// 导航栏
.main-tabbar {
    background-color: #ffffff;
}

// search结果提示文字
p.detail-search-label {
    background-color: #fafafa;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    text-align: left;
    color: #c3c3c3;
    padding-left: 15px;
    padding-right: 15px;
}

// search结果<span>提示文字
p.detail-search-label span {
    background-color: #fafafa;
    color: #ff5f7a;
}

// .main-grid {
//     padding-left: 15px;
//     padding-right: 15px;
// }
// .main-search-cnt {
//     text-align: center;
// }

 .search-bar {
    border: 1px solid #999999;
}

.detail-search-cnt {
    margin-left: 5px;
    margin-right: 5px;
}

.detail-search.field {
    color: #d9d9d9;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

// .detail-list-cnt {
//     // margin-top: 0px;
//     margin-bottom: 57px;
//     margin-left: 15px;
//     margin: 15px;
//     font-size: 12px;
//     // padding-left: 15px;
//     // padding-right: 15px;
// }

.result-cnt {
  padding-bottom: 70px;
}

.detail-list {
    font-size: 12px;
    margin-top: 0px;
    // padding-left: 15px;
    // padding-right: 15px;
    // border: 1px solid #696969;
}

.detail-list-header {
    background-color: #dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
}

.detail-list-item {
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 0px;
}

.detail-list-item-first {
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.detail-list-item-left {
    font-size: 14px;
    margin-left: 15px;
}

.detail-list-item-middle {
    margin-left: -10px;
}

.cancle-btn {
    background-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 0px;
}

p.cancle-btn-label {
    color: #222222;
    font-size: 16px;
    margin-top: 0px;
    border-right-width: 0px;
}

.search-form {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ff5f7a;
    border-width: 2px;
}

.search-form.g.g-collapse.g-bordered {
    border-width: 2px;
    border-color: #ff5f7a;
}

.s1 {
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

span.field-group-label {
    background-color: #ffffff;
    border-width: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.search-bar-cnt {
    margin-bottom: 0px;
}

.xwf-nt {
  margin-top: 200px;
}
