.degree-search-page-cnt {
    text-align: center;
}

.degree-search-page-grid {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

input.degree-search-page.field {
    margin-bottom: 10px;
    outline-color: #c3c3c3;
}

.degree-search-page-select {
  // height: 44px;
  // width: 90px;
  height: 100%;
  width: 90%;
}

.degree-search-page-searchBtn {
  height: 47px;
  width: 90%;
}
