.search-page-cnt {
    text-align: center;
}

.search-page-grid {
    padding-left: 15px;
    padding-right: 15px;
}

// 搜索框提示文字
p.search-page-label {
    font-size: 14px;
    padding-left: 15px;
    margin-top: 5px;
    text-align: left;
    color: #c3c3c3;
}

// 搜索框<span>提示文字
p.search-page-label span {
    color: #696969;
}


input.search-page.field {
    color: #d9d9d9;
    margin-bottom: 5px;
    outline-color: #c3c3c3;
}
