.search-tips-cnt {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.search-tips {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.search-tips-item {
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 0px;
}

.search-tips-first {
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
}
