.splash-cnt {
    // background-color: #f122ff;
    display: block;
    text-align: center;
    overflow: hidden;
    margin: auto auto;
}

.splash-logo {
    height: 40%;
    width: 40%;
}

.splash-label {
    height: 40%;
    width: 40%;
    padding-top: 20px;
}
