.splash-cnt {
    // background-color: #f122ff;
    display: block;
    text-align: center;
    overflow: hidden;
    margin: auto auto;
}

.splash-logo {
    height: 30%;
    width: 30%;
}

.splash-label {
    height: 30%;
    width: 30%;
    padding-top: 20px;
}
